.box {
    width: 100px;
    height: 100px;
    animation: colorChange 7s ease forwards infinite;
    position: relative;
}

@keyframes colorChange {
    0% {
        background-color: red;
        top: 0;
        left: 0;
    }
    25% {
        background-color: blue;
        top: 180px;
        left: 0;
    }
    50% {
        background-color: green;
        top: 180px;
        left: 180px;
    }
    75% {
        background-color: yellow;
        top: 0;
        left: 180px;
    }
    100%{
        background-color: red;
        top: 0;
        left: 0;
    }
}